.custom-block.tip
  border-color: #C23582

.home .hero img
  max-height: 75px
  margin: 3rem auto 0rem auto
  @media only screen and (min-width: 420px)
    max-height: 120px

.home .hero h1
  margin: 1rem auto 0rem auto

.home .hero .description
  margin: 1rem auto
  font-size: 1.2rem
  max-width: 55rem
  @media only screen and (min-width: 420px)
    font-size: 1.55rem;

.home .hero .action-button
  border-bottom: none
  padding: 0.55rem 1rem
  font-size: 1rem

.home .footer
  font-size: 0.9rem

.custom-block.tip
  border-color: #c23582 !important

.m-supporters
  text-align: center
  margin-bottom: 25px

  p
    color: #4e6e8e
    margin-top: 1.55rem
    margin-bottom: 0.75rem
    font-size: 0.9rem

  .m-supporters__all
    margin-top: 1rem

.m-supporters__grid
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

.m-supporters__item
  width: 100%
  margin: 0.5rem 1rem

  @media only screen and (min-width: 420px)
    flex-basis: 0;
    max-width: 100%;
    margin: 0 1.2rem

  img
    &:hover
      opacity: 0.85

.m-examples
  column-count: 3;

  a
    break-inside: avoid-column;
    page-break-inside: avoid;

.home .feature__title
  padding-bottom: 0
  margin: 2.5rem 2.5rem 0
  color: #3a5169
  font-size: 1.25rem
  font-weight: 500
  border-bottom: none

  @media only screen and (min-width: 720px)
    margin-left: 0
    margin-right: 0
    font-size: 1.4rem

.home .features--link
  margin-top: 0 !important
  margin-bottom: 2.5rem
  border-top: 0 !important

.home .feature--link
  margin: 0.25rem 0

.repo-link
  display: none !important

.img-floating
  border-radius: 6px
  box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.15), 0 3px 6px -2px rgba(0, 0, 0, 0.075);