.custom-block.tip
  border-color: #C23582

.home .hero img
  max-height: 75px
  margin: 3rem auto 0rem auto
  @media only screen and (min-width: 420px)
    max-height: 120px

.home .hero h1
  margin: 1rem auto 0rem auto

.home .hero .description
  margin: 1rem auto
  font-size: 1.2rem
  max-width: 55rem
  @media only screen and (min-width: 420px)
    font-size: 1.55rem;

.home .hero .action-button
  border-bottom: none
  padding: 0.55rem 1rem
  font-size: 1rem

.home .footer
  font-size: 0.9rem
